/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
.ip{
  border-bottom: 1px solid grey;
  padding: 12px;
}
.hideThis{
  display: none;
}
.player_img{
  border-radius: 50%;
  width: 35px;
}
.team_logo{
  border-radius: 50%;
  width: 20px;
}
.header{
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000;
}
.header p {
  margin: 10px;
}
.contain{
  height: 30px;
}
